/* CSS Reset */

html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
    margin: 0;  
    padding: 0;  
    border: 0;  
    font-size: 100%;  
    font: inherit;  
    vertical-align: baseline;  
}

/* Add page font family, size, and color for sections */

html {
    font-size: 62.5%;
}

* {
    font-family: 'Yusei Magic';
    color: #20285B;
}

/* Add background for header and footer */

.bookend {
    background-color: #20285B;
}

/* Style header */

h1 {
    color: white;
    font-size: 4rem;
    padding: 1.5%;
}

.nav-button {
    color: white;
    background-color: #FA661C;
    font-size: 1.6rem;
    border: 0;
    margin: 2%;
    padding: 1% 0%;
    width: 12.5%;
    letter-spacing: 0.3rem;
    border-radius: 0.75em;
}

/* Style bio section */

.bio {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.avi {
    padding-left: 2%;
}

.bio-div {
    width: 50%;
    margin-top: 5%;
}

h2 {
    font-size: 2.75rem;
    padding-top: 5%;
}

.bio-div .nav-button {
    color:#20285B;
    padding: 2% 0;
    margin: 2% 0%;
    width: 25%;
}

p {
    font-size: 2rem;
}

/* Use flex box on project pictures */

.images-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2% 0%;
}

figure {
    margin: 1% 0%;
    text-align: center;
}

figcaption {
    font-size: 1.75rem;
    margin-top: 1.5%;
}

.project-image {
    width: 268px;
    height: auto;
}

/* Style footer */

footer {
    margin-top: 4%;
    padding: 2% 0%;
}

#footer-text {
    color: white;
    text-align: center;
}

footer .nav-button {
    padding: 1.5% 0%;
    width: 15%;
    margin: 1% 42.5%;
}

#footer-flex {
    margin: 0% 42.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.icon {
    width: 35px;
    height: 35px;
}
